.env
.env.*
!.env.example

uploads/
backups/

*.dump
*.sql

aerox_backend/.env
aerox_backend/.env.*
aerox_frontend/.env
aerox_frontend/.env.*

aerox_backend/target/
aerox_frontend/node_modules/
aerox_frontend/.next/